body{
margin:0;
font-family:Arial;
background:#f4f4f4;
color:#111;
text-align:center;
}

header{
background:black;
color:white;
padding:25px;
font-size:24px;
letter-spacing:2px;
}

nav{
background:#111;
padding:18px;
}

nav a{
color:white;
margin:25px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#4CAF50;
}

.card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 0 25px rgba(0,0,0,0.1);
}

.btn{
display:inline-block;
margin-top:15px;
padding:14px 30px;
background:linear-gradient(45deg,#4CAF50,#2E7D32);
color:white;
text-decoration:none;
border-radius:6px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}

.container{
margin:80px auto;
max-width:900px;
}

img{
max-width:100%;
}
.float{
animation:float 3s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}
}
.product-img{
width:250px;
display:block;
margin:20px auto;
}

.small-img{
width:180px;
}
.product-img{
background:none;
mix-blend-mode:multiply;
}
.product-img{
filter: drop-shadow(0 20px 15px rgba(0,0,0,0.2));
}